apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (955b78124)
  creationTimestamp: null
  labels:
    io.kompose.service: reservation
  name: reservation
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: reservation
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (955b78124)
        sidecar.istio.io/statsInclusionPrefixes: cluster.outbound,cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grp,listener,connection_manager
        sidecar.istio.io/statsInclusionRegexps: http.*
      creationTimestamp: null
      labels:
        io.kompose.service: reservation
    spec:
      priorityClassName: high-priority
      containers:
        - command:
            - reservation
          image: arielszekely/hotelreservation:latest
          name: hotel-reserv-reservation
          ports:
            - containerPort: 5000
            - containerPort: 8087
            - containerPort: 9999
          resources:
            requests:
              cpu: 2900m
            limits:
              cpu: 4000m
          envFrom:
          - configMapRef:
              name: env-config
      restartPolicy: Always
status: {}
